<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Cadastrar Produto</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <header>Área de cadastro</header>

  <div class="container">
    <h2>Cadastrar Novo Produto</h2>
    <form th:action="@{/produtos/salvar}" th:object="${produto}" method="post">
      <label>Nome:</label>
      <input type="text" th:field="*{nome}" placeholder="Nome do produto" required>
      <label>Preço:</label>
      <input type="number" th:field="*{preco}" step="0.01" placeholder="0.00" required>
      <label>Descrição:</label>
      <textarea th:field="*{descricao}" rows="3" placeholder="Ex: Produto orgânico, sem glúten..."></textarea>
      <label>Estoque:</label>
      <input type="number" th:field="*{estoque}" min="0" placeholder="Quantidade em estoque" required>
      <div class="actions">
        <button type="submit">Salvar</button>
        <a href="/produtos" class="btn-voltar">⬅ Voltar</a>
      </div>
    </form>
  </div>

  <footer>© 2025 Komprinha - Compre aqui já!</footer>
</body>
</html>
