<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Editar Produto</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <header>Área de Edição</header>

  <div class="container">
    <h2>Editar Produto</h2>
    <form th:action="@{/produtos/atualizar}" th:object="${produto}" method="post">
      <input type="hidden" th:field="*{id}">
      <label>Nome:</label>
      <input type="text" th:field="*{nome}" required>
      <label>Preço:</label>
      <input type="number" th:field="*{preco}" step="0.01" required>
      <label>Descrição:</label>
      <textarea th:field="*{descricao}" rows="3"></textarea>
      <label>Estoque:</label>
      <input type="number" th:field="*{estoque}" min="0" required>
      <div class="actions">
        <button type="submit">Atualizar</button>
        <a class="btn" th:href="@{/produtos}">⬅ Voltar</a>
      </div>
    </form>
  </div>

  <footer>© 2025 Komprinha - Compre aqui já!</footer>
</body>
</html>
