<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <a href="/produtos/novo">Cadastrar Novo</a>
    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Estoque</th>
            <th>Ações</th>
        </tr>
        <tr th:each="produto : ${produtos}">
            <td th:text="${produto.nome}"></td>
            <td th:text="${produto.preco}"></td>
            <td th:text="${produto.estoque}"></td>
            <td>
                <a th:href="@{'/produtos/editar/' + ${produto.id}}">Editar</a> |
                <a th:href="@{'/produtos/visualizar/' + ${produto.id}}">Visualizar</a> |
                <a th:href="@{'/produtos/excluir/' + ${produto.id}}">Excluir</a>
            </td>
        </tr>
    </table>
</body>
</html>
